{% extends 'base.html' %}
{% block content %}
    <form class="container" method="POST">
        {% csrf_token %}
        <div>
            <label class="form-label">{{ producto.nombre.label }}</label>
            {{ producto.nombre }}
        </div>
        <div>
            <label class="form-label">{{ producto.precio.label }}</label>
            {{ producto.precio }}
        </div>
        <div>
            <label class="form-label">{{ producto.categoria.label }}</label>
            {{ producto.categoria }}
        </div>
        <br>
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-uppercase">Adicionar Imagen</button>
        </div>
        <br>
    </form>
{% endblock %}