{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center">Ecuaciones Diferenciales Ordinarios</h1>

    <table class="table">
        <thead class="table-dark">
        <tr>
            <th scope="col">N</th>
            <th scope="col">XN</th>
            <th scope="col">YN</th>
        </tr>
        </thead>
        <tbody>
        {% for i in ite %}
            <tr>
                <th scope="row">{{ i.n }}</th>
                <td>{{ i.xn }}</td>
                <td>{{ i.yn }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="text-center">
        <a class="btn btn-primary" href="{% url 'calcular' %}">Calcular</a>
    </div>
    <br>
{% endblock %}